@tailwind components;
@layer components {
	.output-footer {
		.footer-header {
			@apply p-[6px] border border-border-color;
			h4 {
				@apply text-base;
			}
		}
	}
	.footer-header {
		@apply flex items-center gap-3;
	}
	.footer-body {
		@apply my-3 px-6;
	}
}
